@inherits LayoutComponentBase
<<<<<<< HEAD
<MudRTLProvider RightToLeft="true">
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudLayout>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</MudRTLProvider>
=======

<main> @Body </main>
>>>>>>> 05d4eea (Creating new project of support)
