@inherits LayoutComponentBase
<<<<<<< HEAD
<<<<<<< HEAD
<MudRTLProvider RightToLeft="true">
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudLayout>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</MudRTLProvider>
=======

=======
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
>>>>>>> 2e16d2b (change gitignore file)
<main> @Body </main>
>>>>>>> 05d4eea (Creating new project of support)
